{% extends "base.html" %}

{% block content %}
    <main class="backindex" style="background-image:url(/static/media/img/industria.jpg)">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="backindex"> Sindicato de Trabajadores
            de la Industria Alimenticia</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>
{% endblock %}