{% extends "base.html" %}
{% block content %}

<div class="card">
    <!--{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endif %}-->
    <div class="card-header">
        <h4 style="text-align: center;">Emitir Nueva Orden de Compra</h4>
    </div>

    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--<div>{{form.as_p}}-->
            <p>
                <label for="id_empleado">Empleado:</label>
                <input type="text" name="empleado" maxlength="30" required="True" class="form-control"
                    style="width:100px" value="{{ empleado }}" readonly hidden />
            </p>
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">LEGAJO</th>
                        <th scope="col">DNI</th>
                        <th scope="col">DISPONIBLE</th>
                    </tr>
                </thead>
                <tr>
                    {% for empleado in empleados %}
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.legajo }}</td>
                    <td>{{ empleado.dni }}</td>
                    <td>{{ margen }}</td>
                    {% endfor %}
                <tr>
            </table>
            <p>
                <label for="id_comercio">Comercio:</label>
                <input type="text" name="comercio" maxlength="30" required="True" class="form-control"
                    style="width:100px" value="{{ comercio }}" readonly hidden />

            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">COMERCIO</th>
                        <th scope="col">TITULAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for comercio in comercios %}
                        <td>{{ comercio.comercio }}</td>
                        <td>{{ comercio.titular }}</td>
                        {% endfor %}
                    <tr>
                </tbody>
            </table>
            </p>
            <div class="label-input">
            <p>
                <label>Importe:</label>
                <input type="number" name="importe" min="1" max="{{ margen }}" required="True"
                    placeholder="Importe de la operación" class="form-control" style="width:210px " />
            </p>
            <p>
                <label>Cuotas:</label>
                <input type="number" name="cuotas" min="1" max="18" required="True" placeholder="Cantidad de Cuotas"
                    class="form-control" style="width:180px" />
            </p>
            
            </div>
            <div class="label-input">
                <input type="submit" value="Crea Orden" class="btn btn-success" style="height: 40px;"/>
            </div>
        </form>
    </div>
</div>

{% endblock %}